src/tests/suite.out
tags
.pc/
patches/

src/icainfo
src/icastats

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

Makefile
doc/Makefile
include/Makefile
src/Makefile
src/tests/Makefile
src/tests/sha_tests/Makefile

*.swp
*.lo
*.la
*.o
*.in
src/.deps/
src/.libs/
src/tests/*_test
src/tests/sha_tests/*_test
