src/tests/suite.out
tags

src/icainfo
src/icastats

aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

Makefile
doc/Makefile
include/Makefile
src/Makefile
src/tests/Makefile
src/tests/libica_sha_test/Makefile

*.swp
*.lo
*.la
*.o
*.in
src/.deps/
src/.libs/
src/tests/*_test
