os: linux
dist: focal

language: c

jobs:
    include:
        - name: "linux-s390x-gcc"
          os: linux
          arch: s390x
          compiler: gcc
          env: CONFIG_OPTS="--enable-fips --enable-internal-tests"
        - name: "linux-s390x-clang"
          os: linux
          arch: s390x
          compiler: clang
          env: CONFIG_OPTS="--enable-fips --enable-internal-tests"

before_script:
    - ./bootstrap.sh

script:
    - ./configure $CONFIG_OPTS && make check
